***OPERATOR***

**Latihan Operator 1 (Aritmatika)**

In [ ]:
#Penjumlahan
print('Penjumlahan')
print(4+4)
#Pengurangan
print('Pengurangan')
print('-'*15)
print(8-4)
#Perkalian
print('perkalian')
print('-'*15)
print(2*2)
#Pembagian
print('pembagian')
print('-'*15)
print(12/3)
#Modulus
print('modulus')
print('-'*15)
print(8%3)
#Perpangkatan
print('perpangkatan')
print('-'*15)
print(2**2)
#Pembagian dengan hasil pembulatan flooring
print('pembagian dengan hasil pembulatan flooring')
print('-'*15)
print(11//3)

Penjumlahan
8
Pengurangan
---------------
4
perkalian
---------------
4
pembagian
---------------
4.0
modulus
---------------
2
perpangkatan
---------------
4
pembagian dengan hasil pembulatan flooring
---------------
3

**Latihan Operator 2 (Assignment)**

In [ ]:
#Penjumlahan
print('penjumlahan')
x=4
x=x+4
print(x)
x=4
x+=4
print(x)
print('-'*15)
#Pengurangan
print('pengurangan')
x=8
x=x-4
print(x)
x=6
x-=2
print(x)
print('-'*15)
#perkalian
print('perkalian')
x=2
x=x*2
print(x)
x=2
x*=8
print(x)
print('-'*15)
#pembagian
print('pembagian')
x=10
x=x/2
print(x)
x=10
x/=5
print(x)
print('-'*15)
#modulus
print('modulus')
x=15
x=x%6
print(x)
x=15
x%=4
print(x)
print('-'*15)
#Pembagian flooring
print('pembagian flooring')
x=17
x=x//5
print(x)
x=17
x//=3
print(x)
print('-'*15)
#Perpangkatan
x=3
x=x**6
print(x)
x=3
x**=4
print(x)

penjumlahan
8
8
---------------
pengurangan
4
4
---------------
perkalian
4
16
---------------
pembagian
5.0
2.0
---------------
modulus
3
3
---------------
pembagian flooring
3
5
---------------
729
81

**Latihan Operator 3 (Pembanding)**

In [ ]:
print(3==3)
print(4!=2)
print(2>6)
print(3<2)
print(4>=3)
print(6<=6)

True
True
False
False
True
True

**Latihan Operator 4 (Logika)**

In [ ]:
print(False and False)
print(True or False)
print(False and not True)

False
True
False

**Latihan Operator 5 (Keanggotaan)**

In [ ]:
a=(4,5,6,7,8)
b=5
print(b in a)

a=(2,4,5,7,8)
b=1
print(b not in a)

True
True

***VARIABEL***

***Latihan 1***

In [15]:
kalimat ='menampilkan jumlah data'
bilangan1= 46
bilangan2= 5.6
bilangan3= False
bilangan4= 10j - 3

print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

menampilkan jumlah data
46
5.6
False
(-3+10j)

***Latihan 2 (Tipe Data)***

In [16]:
#menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

***Latihan 3 (Koversi Tipe Data)***

In [28]:
#konversi tipe data string
print(str(bilangan4))
print(str(bilangan2))
print(str(bilangan3))
print('-'*15)
#konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))
print('-'*15)
#konversi tipe data float
print(float(bilangan3))
print(float(bilangan2))
print('-'*15)
#konversi tipe data bool
print(bool(bilangan3))
print(bool(bilangan4))
print('-'*15)
#konversi tipe data complex
print(complex(bilangan4))
print(complex(bilangan1))
print(complex(bilangan2))

(-3+10j)
5.6
False
---------------
5
0
---------------
0.0
5.6
---------------
False
True
---------------
(-3+10j)
(46+0j)
(5.6+0j)